[Unit]
Description=QRL Sync Collector
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=qrl
Group=qrl
ExecStart=/usr/bin/python3 {{ data_dir }}/sync-tracker/sync-collector.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target